parameters:
  level: 8
  scanDirectories:
    - vendor/swoole/ide-helper
  excludePaths:
    - tests/resources
  ignoreErrors:
    -
      identifier: variable.undefined
      path: tests/e2e/ExecutorTest.php
      message: '#Undefined variable: \$this#'
